/* Responsive Design */

/* medium device */


/* small device */
@media screen and (max-width: 576px) {
    
    .nav-menu{
        display: block;
    }
    .nav-item{
        display: none;
    }
    .icon1{
        display:none; 
    }
    
    .banner-part{
        flex-direction: column-reverse;
    }
    .banner-text{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .logo-item{
        flex-wrap: wrap;
        gap: 20px;
    }
    .cards-items{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .feature-image{
        width: 100%;
    }
    .feature-text{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .feature{
        flex-direction: column-reverse;
    }
}